.TotalAboutBox {
  height: 120vh;
}
.AboutContainer {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AboutContentBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
}
.Aboutme {
  background-color: rgb(247, 233, 247);
  width: 100%;
  padding: 15px;
  border-radius: 2%;
}
.AboutmeDetail {
  display: flex;
  flex-direction: column;
}
.Education,
.Award {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Education div,
.Award div {
  width: 40%;
}
.AboutmeElse {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.Explain {
  height: 50%;
  border-radius: 2%;
  background-color: rgb(247, 233, 247);
  align-content: center;
}
.Explain ul {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
.Explain ul li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.Resume {
  background-color: white;
  font-size: 15px;
  margin-top: 50px;
  padding: 15px 20px 15px 20px;
  border-radius: 9999px;
  border: 3px solid rgb(247, 233, 247);
}
.Resume:hover {
  cursor: pointer;
  background-color: rgb(247, 233, 247);
}
