.TotalAboutBox {
  height: 100vh;
  background-color: rgb(247, 233, 247);
}
.AboutContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutContentBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Aboutme {
  background-color: rgb(194, 174, 194);
  width: 100%;
  padding: 15px;
  border-radius: 2%;
}
.AboutmeDetail {
  display: flex;
  flex-direction: column;
}
.Education,
.Award {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Education div,
.Award div {
  width: 40%;
}
.AboutmeElse {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.Explain {
  height: 50%;
  border-radius: 2%;
  background-color: rgb(194, 174, 194);
  align-content: center;
}
.Explain ul {
  list-style: none;
  padding-left: 20px;
}
.Explain ul > li {
  margin-bottom: 15px;
}
