.TotalFooterBox {
  height: 3vh;
  background-color: rgb(217, 215, 215);
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FooterContainer {
  font-size: 12px;
  text-align: center;
}
